:root {
    --font-sans: 'Poppins', Helvetica, Arial, sans-serif;
    --font-serif: 'DM Serif Text', serif;
    --color-bg-main: #e9e9e9;
    --color-accent1: rgb(1, 82, 72);
    --color-accent2: #243038;
    --color-accent3: #e6e6ff;
    --color-accent4: rgb(135, 181, 181);
    --color-accent5: #518e95;
    --color-light: #ffffff;
    --color-dark: #15141a;
    --color-transparent: transparent;
    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }


 /* RESET */
    *, *::before, *::after {box-sizing: border-box;}
    * {margin: 0; padding: 0}
    body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
    input, button, textarea, select {font: inherit;}
    p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;margin:0}
    p {text-wrap: pretty;}
    h1, h2, h3, h4, h5, h6 {text-wrap: balance;}
    p, h1, h2, h3, h4, h5, h6, ul, li{margin: 0;}
    #root, #__next {isolation: isolate;}

/* ESTILO GENERAL */
  body{
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-items: center;
    font-family: var(--font-sans);
    background-image: url(../img/bg-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }

  .main{
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
   
  }

  a{
    text-decoration: none;
    color: inherit;
    }
        a:hover {
            text-decoration: none;
            opacity: 100%;
            }
        a:focus {
            text-decoration: none;
            }
        


  

  .h1{
    font-family: var(--font-serif);
    font-size: 42px;
    width: 100%;
    font-weight: 500;
    color: var(--color-accent4);
    padding: 0 10px 20px 10px;
    text-align: center;
    border-bottom: rgb(152, 203, 197, 0.1) 1.2px solid;
    }


    .h3, .h2{
        margin: 0;
        padding: 0;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        width: 100%;
        color: var(--color-accent4);
        font-family: var(--font-sans);
        letter-spacing: 3.5px;
        margin: 20px 0 7px 0;
        text-transform:uppercase;
    }

    .h4{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: var(--font-serif);
    }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
    margin: 50px;
    color: var(--color-dark);
    border-radius: 10px;
    padding: 70px 40px;
    box-shadow: var(--box-shadow);
    width: 50%;
    background: rgb(3 11 12 / 40%);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #2a555b6e;
  }

  .form-container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    padding: 30px 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: var(--color-accent4);
    } 
  
        .form-container input{
            align-items: center;
            padding: 10px 20px;
            width: 80%;
            border-radius: 7px;
            border: none;
            margin-bottom: 15px;
            text-align: center;
            }
        ::placeholder {
            color: var(--color-accent5);
            opacity: 1; 
            text-align: center;
            }
            
        ::-ms-input-placeholder {
            color: var(--color-accent5);
            }
            
            
        select{
            border: 2px solid white;
            padding: 7px 20px;
            border-radius: 7px;
            width: 80%;
            color: var(--color-accent5);
            text-align: center;
        }

        .btn-search{
            font-size: 22px;
            color: #243638;
            background-color: var(--color-accent4);
            font-weight: 600;
            border:none;
            border-radius: 25px;
            padding: 7px 17px 9px;
            width: 30%;
            min-width: 150px;
            transition: all 0.8s ease;
            margin: 30px 20px 20px 20px;
            font-family: var(--font-serif);
            }
            .btn-search:hover{
                color: var(--color-light);
                background-color: rgb(152, 203, 197, 0.3);
                cursor: pointer;
                box-shadow: var(--box-shadow);
                }

            .btn-search:active, .btn-search:focus{
                color: var(--color-accent1);
                background-color: var(--color-accent3);
                font-weight: 700;
                }
        
          .result{
            font-family: var(--font-serif);
            font-size: 20px;
            color: var(--color-light);
            text-align: center;
            width: 100%;
          }